.gameOver{
	display: none;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.9);
	flex-direction: column;
}

.gameOver.show{
	display:flex;
}

.container{
	display: flex;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.restartButton{
	font-size: 2rem;
	padding:0.25em 0.5em;
	cursor: pointer;
	background-color: black;
	color: white;
	border-color: white;
	border-radius: 1rem;
	transition: 0.2s ease;
}

.restartButton:hover{
	background-color: white;
	border-color: white;
	color: black;
}

body{
	background: gray;
}

.play{
	display: flex;
	z-index: 1;
	  position: fixed;
	  top:0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  justify-content: center;
	  align-items: center;
	  color: white;
	  background-color: rgba(0, 0, 0, 0.9);
	  flex-direction: column;
	display:flex;
  }