button {
	box-shadow: 0px 10px 14px -7px #000000;
	background:linear-gradient(to bottom, #ffffff 5%, #dde1e1 100%);
	background-color:#cee8f2;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
    margin: 5px;
}
button:hover {
	background:linear-gradient(to bottom, #c2cfd1 5%, #cee8f2 100%);
	background-color:#c2cfd1;
}
button:active {
	position:relative;
	top:1px;
}

#number{
    font-size: 30px;
}

.container{
    height: 90vh;;
    display: flex;
    justify-content: center;
    align-items: center;
}