body {
	font-family: 'Raleway', sans-serif;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
    overflow-y: hidden; 
    overflow-x: hidden;
    width: 99%;
    height: 100vh;
	background: linear-gradient(to bottom, red, yellow);
}

.color{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.btn{
    position: absolute;
    top:60%;
}

button{
    color: rgb(48, 47, 47);
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.7rem 1rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}


